body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden; 
    display: block;  
}
canvas{
    background: rgb(12,11,17);
    background: radial-gradient(circle, rgba(12,11,17,1) 0%, rgba(8,8,11,1) 100%);
}
